.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 0 1.5rem;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  user-select: none;
  padding-left: calc(100vw - 100%);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  text-decoration: none;
  color: #374151;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  font-weight: 500;
}

.navLink:hover {
  background-color: #f3f4f6;
  color: #1f2937;
}

.navLink.active {
  color: rgb(184, 6, 6);
}

.links {
  display: flex;
  gap: 1rem;
}
.logo {
  width: 100px; 
  margin-right: 2rem;
}